body {
    font-family: Arial, sans-serif;
    background-color: #e75757;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: -1px 4px  15px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}
h1 {
    text-align: center;
    color: #d4af37; /* Gold color */
    margin-top: -500px;
}

   h2 {
    text-align: center;
    color: #d4af37; /* Gold color */
    margin-top: 500px;
}


input[type="text"],
input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #d4af37; /* Gold color */
    border-radius: 4px;
}
button {
    margin-top: 10px;
    background-color: #d4af37; /* Gold color */
    color: white;
    border: none;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 103%;
}
button:hover {
    background-color: #b5942a; /* Darker gold */
}
.forgot-password {
    text-align: center;
    margin-top: 10px;
}
.forgot-password a {
    color: #d4af37; /* Gold color */
    text-decoration: none;
}
